@page "/"


<h1>
    Sistema Compra & Ventas <div class="oi oi-cart"></div>
</h1>

<h6>
    <p>Este es un sistema de Compra & Ventas, donde puedes registrar Clientes, Articulos y realizar ventas con detalle.
    </p>
</h6>

