@page "/"


<h1>
    Sistema Compra & Ventas <div class="oi oi-cart"></div>
</h1>

<div>
    <p>Este es un sistema de Compra & Ventas, donde puedes registrar Clientes, Articulos y realizar ventas con detalle.
    </p>
</div>


<div class="container">
    <partial name="_CookieConsentPartial" optional />
    <main role="main" class="pb-1">

    </main>
</div>
<footer class="footer border-top pl-3 text-muted">
    <div class="container">
    </div>
</footer>

